body{
    font-family:Arial;
    margin:0;
    background:#bcd9ed;
}
nav{
    background:#222;
    padding:10px;
    text-align:center;
}
nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}
.hero{
    background:#007bff;
    color:white;
    padding:40px;
    text-align:center;
}
.content{
    padding:40px;
}
.card{
    background:rgb(94, 160, 204);
    padding:20px;
    border-radius:8px;
}
.about-container{
    padding:60px 20px;
    text-align:center;
}
.about-container h2{
    font-size:32px;
    margin-bottom:30px;
}
.about-card{
    background:#7fb7f3;
    max-width:800px;
    margin:auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    text-align:left;
}
.about-card p {
    font-size:16px;
    line-height:1.6;
    margin-bottom:15px;
}
.skills-title{
    text-align:center;
    margin-top:40px;
    font-size:28px;
    color:#333;
}
.skills-container{
    background:#6dabee;;
    width:fit-content;
    margin:20px auto;
    padding:25px 40px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.skills-container ul{
    list-style:none;
    padding:0;
    margin:0;
    background:none;
}
.skills-container li{
    text-align:center;
    color:black;
    font-size:16px;
    margin:8px 0;
}
.content p{
    font-size:19px;
    line-height:1.6;
    text-align:center;
    max-width:650px;
    margin:10px auto;
    color:#333;
}